@import "./assets/styles/reset.css";

:root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--loader-color-1: #43a9c0;
	--loader-color-2: #bfd30b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #242424;
		--background-answer-color: #393e41;
		--text-color: #f0f0f0;
		--text-hover-color: #393e41;
		--border-color: #44bba4;
		--button-background-color: #44bba4;
		--button-hover-background-color: #e7bb41;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f0f0f0;
		--background-answer-color: #dae6d6;
		--text-color: #242424;
		--text-hover-color: #393e41;
		--border-color: #a3b18a;
		--button-background-color: #9ab7af;
		--button-hover-background-color: #fb8500;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;

	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background: var(--background-answer-color);
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: linear-gradient(269.59deg, #01e0ed -12.09%, var(--border-color) 97.7%);
		border-radius: 5px;
	}
}

a {
	text-decoration: none;
}

h1 {
	margin-bottom: 0.8em;
}

button {
	border: none;
}

ul,
ol {
	padding-left: 10px;
	margin-bottom: 4px;

	li {
		margin-left: 10px;
	}
}

ul {
	li {
		list-style-type: disc;
	}
}

ol {
	li {
		list-style-type: decimal;
	}
}

pre {
	margin: 10px 0;
}

.chat {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	&__messages {
		display: flex;
		flex-direction: column;
		position: relative;
		height: calc(100vh - 114px);
		width: 100%;
		max-width: 1100px;
		padding: 30px 20px;
		margin: 0 auto;
		overflow: auto;
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: 5px 10px;
		margin-bottom: 5px;

		&--chatGPT {
			background-color: var(--background-answer-color);

			.message {
				color: var(--text-color);
			}
		}
	}

	&-form {
		display: flex;
		flex-direction: row;
		margin-top: auto;
		width: 100%;
		max-width: 1100px;
		padding: 5px 20px;
		margin: 0 auto;

		&__input {
			width: 100%;
			padding: 0 14px;
			border: 1px solid var(--border-color);
			border-radius: 4px;
		}

		&__btn {
			display: inline-block;
			vertical-align: top;
			padding: 10px 18px;
			border-radius: 6px;
			margin-left: 10px;
			font-size: 16px;
			transition: all 0.3s;
			background-color: var(--button-background-color);
			color: var(--text-color);

			&:hover {
				background-color: var(--button-hover-background-color);
				color: var(--text-hover-color);
				cursor: pointer;
			}
		}
	}
}

.message {
	margin-bottom: 10px;

	&__title {
		margin-bottom: 10px;
	}
}
